<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Confirmação de Compra</title>
</head>
<body>
  <main>
    <section style="display: flex;flex-wrap: wrap;flex-direction: column;text-align: center;font-family: Arial, Helvetica, sans-serif;">
    <h1 style="font-size: 2.5rem;line-height: 2rem;padding: 1rem;"><span style="color: cadetblue;">Olá</span>, {{clienteNome}}!</h1>
    <p style="font-size: 1.2rem;padding: 1rem;">Este email é para confirmação do seu pedido feito na nossa Loja</p>
    <h3 style="font-size: 1.4rem">The Ximbinhas agradece pela preferência.</h3>
    </section>
  </main>
</body>
</html>